<%= render "common/header" %>
<div class = "about" >
	<h1>このサイトについて</h1>
	<p>このサイトは、製作者の<span style = "font-weight: bold;">『終わらない物語が欲しい』</span>との考えによって作られた、小説投稿リレーションサイトです。</p>
	<p>世の中には様々な小説投稿サイトがありますが、完結まで行く作品は多くありません。</p>
	<p>完結しない原因としてもっとも考えられるのは<span style = "font-weight: bold;">『作者失踪』</span>です。</p>
	<p>創作意欲の消滅などによって途中で切り捨てられる作品が多くある中、</p>
	<p>初めから終わらせることを考えず、複数のユーザーが集まって続く作品があればいいと考えました。</p>
	<p>このサイトでは<span style="color: red">ホストユーザー</span>によって新規投稿が行われます。</p>
	<p>作られた作品に対し、他のユーザーは<span style="color: red">参加ユーザー</span>として小説を投稿することができます。</p>
	<p>そのため、中長期的に1人のユーザーが連載し続けるには向いていません。<p>
	<p>複数のユーザーが世界観や設定を共有しつつ短編小説をつなげていく、それがこのサイトのコンセプトとなっています。</p>
	<h2>会員録するとできるようになること</h2>
    <p>このサイトでは、ユーザー登録していなくても小説の閲覧をすることができます。</p>
    <p>ですが新規投稿、続きとしての小説投稿は会員登録ユーザーのみが可能となっています。</p>
    <p>さらに、投稿小説に対してのお気に入り機能、コメント投稿機能、閲覧履歴の表示、他ユーザーのフォローができるようになります。</p>

</div>
<%= render "common/footer" %>