/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome-sprockets";
  @import "font-awesome";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
	    margin: 0 auto;
    padding: 0px 5px;
    text-align: left;
    width: 960px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
a{
	color: black;
}
a:hover {
	text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a {
	color: #000000;

}

.navbar-inverse .navbar-nav .fas{
	display: contents;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: blue;
}

li {
	list-style: none;
	cursor: pointer;
	display: block;
}

.navbar-right > li {
	padding: 5px;
	margin-top: 20px;
}
.navbar-form  {
	padding: 5px;
	margin-top: 36px;
}
.novel-field > input[type = "text" ] {
	width: 100%;
	border-color: black;
	border-width: 1px;
}

.content-field > textarea {
	width: 100%;
	height: 130px;
	border-color: black;
	border-width: 1px;
}

textarea {
	width: 100%;
	height: 1000px;
	border-color: black
}

select {
	border-color: black;
}
input {
	border-color: black;
	border: solid;
	border-width: 1px;
}

.novel-box {
	border: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 20px;
	padding: 8px 13px 13px 13px;
	margin-bottom: 10px;
	width: 100%;
	margin: 10px auto;
}

.tag {
	background-color: #007bff;
	border-radius: 5px;
	padding: 2px 6px 2px 6px;
	margin-right: 5px;
	border-color: #007bff;
}
.tag > a {
	color: white;
}
.tag > a:hover{
	color: black;
}

.novel-about > p{
	word-break: break-all;
}

.genre {
	border: solid;
	border-width: 1px;
	border-radius: 4px;
	padding: 3px  10px 3px  10px;
	margin-bottom: 3px;
	font-size: 15px;
	background-color: white;
}
.navbar  {
	border-radius: 0px
}

#dropdwn {
	max-width: 70%;
	display: flex;
	margin: 34px 0;
}

#dropdwn .dropdwn_menu {
	display: none;
	position: absolute;
	background-color: black;
	z-index: 1000;
}
#dropdwn  li {
	margin: 1px;
}
.dropdwn_menu  li {
	width: 100%;
}

.dropdwn_menu  li  a {
	padding: 5px;
	display: block;
	color: white;
}

.dropdwn_menu  li  a:hover {
	color: black;
	background-color: white;
	transform: scale(1.1);
	border:solid;
	border-width: 1px;
}
.dropdwn_menu .fas {
	display: block !important;
}
.novel_show_container{
	width: 75%;
	text-align: center;
	margin: auto;
}
.novel-field {
	margin: 10px 0;
}
.btn_open {
	background-color: #007bff;
	color: white;
	margin-bottom: 10px;
}
.btn_open:hover {
	background-color: white;
	border:solid 1px;
	border-color: #007bff;
	color: #007bff;
}
.index_container {
	margin-bottom: 25px;

}
.novel-about {
	margin-top: 15px;
}
#title {
	width: 45%;
	text-align: left;
	padding: 0;
}
#title > a {
	word-break: break-all;
	display: block;
	line-height: 2em;
    padding-left: 8px;
}

.devise_container{

	margin: 100px auto;
	text-align: center;
	border: solid 1px;
	margin-bottom: 20px;
}
.devise_container .field > input[type= "text"] {
	width: 70%;
	border-radius: 5px;
	padding: 15px 25px;
}
.devise_container .field > input[type= "email"] {
	width: 70%;
	border-radius: 5px;
	padding: 15px 25px;
}
.devise_container .field > input[type= "password"] {
	width: 70%;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 15px 25px;
}

.devise_container .actions > input[type= "submit"] {
	width: 50%;
	height: 40px;
	border-radius: 5px;
	margin-bottom: 15px;
	background-color: royalblue;
	color: white;
}
.password_container {
	width: 70%;
	margin: 100px auto;
	text-align: center;
	border: solid 1px;
	margin-bottom: 20px;
}
.password_container .field > input[type= "email"] {
	width: 70%;
	border-radius: 5px;
	padding: 15px 25px;
}
.password_container .actions > input[type= "submit"] {
	width: 70%;
	height: 40px;
	border-radius: 5px;
	margin: 15px 0;
	background-color: royalblue;
	color: white;
}

.devise_field {
	margin: 20px auto;
}


.action_btn .button_to  > input[type= "submit"] {
	width: 50%;
    margin: auto;
    background-color: limegreen;
    padding: 8px 0;
    border-radius: 5px;
    margin-bottom: 16px;
    color: white;
}

.destroy {
	margin-top: 23px;
    width: 50%;
    margin: 20px auto 0 auto;
}

.user_about_field > textarea {
	height: 150px;
}

.show_head {
    text-align: center;
    border: double;
    padding-bottom: 10px;
}

.novel-box-show {
	border: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 20px;
	padding: 8px 13px 13px 13px;
	margin-bottom: 10px;
	width: 90%;
	margin: 10px auto;
	background-color: white;
}
.novel-box-show {
	word-break: break-all;
}

.show_novels_box {
	border: double;
    width: 60%;
    margin: 20px auto;
    background-color: aliceblue;
}

.box_head {
	text-align: center;
}

.novel-box > h3> a > p{
	word-break: break-all;
}

.novel-box > h3> a {
	word-break: break-all;
}

#novels_show  {
	text-align: center;
}

#novel-title {
	word-break: break-all;
	text-align: center;
}

.join-user {
	width: 50%;
	margin: auto;
}

.user_about {
	width: 60%;
    margin: auto;
}
.user_about > table > tbody > tr > th {
	border: solid 1px;
	text-align: center;
	padding: 5px;
}

.user_about > table > tbody > tr {
	border: solid 1px;
}

.user_about > table > tbody > tr > td {
	padding: 10px;
	width: 80%;
}

.novel_content_head {
	text-align: right;
    margin-right: 40px;
}
.novel-content-title {
	text-align: center;
}
.novel-content-foreword {
	text-align: left;
    margin: auto 100px;
    border-bottom: solid 1px;
    word-break: break-word;
}

.novel-content-text {
	margin: 20px 100px 20px 100px;
	word-break: break-word;
}

.novel-content-afterword {
	text-align: left;
    margin: auto 100px;
    border-top: solid 1px;
    word-break: break-word;
}
.novel-content-botton {
	text-align: center;
	font-size: 30px;
}


